.disable{
  visibility: hidden ;
}
#booking{
    margin: 0 auto;
    background: #fff;
  }
  
  .head{
    width: 100%;
    background: #fcfcfc;
    color: #fff;
    padding-top: 75px;
    padding-bottom: 75px;
      
  }

  .head table{
    width: 41%;
    margin: 0 auto;
    margin-top: 1%;
    border: 1px solid #fff;
  }

  .co_logo{
    position: absolute;
  }

  .co_info{
    padding-left: 190px;
    color: #AEAEAE;
    font-weight: normal;
  }

  .co_info h1{
    font-size: 26px;
    color: #C97DE5;
    padding-bottom: 15px;
  }

  /* end of head section */

  /* begin of boxes section */

.section2{
    width: 95%;
    margin: 0 auto;
}


.service_box{
    background: #fff;
    width: 41%;
    margin: 0 auto;
    -webkit-box-shadow: 2px 2px 10px 2px rgba(201,124,229,0.25);
    -moz-box-shadow: 2px 2px 10px 2px rgba(201,124,229,0.25);
    box-shadow: 2px 2px 10px 2px rgba(201,124,229,0.25);
    display: table;
    margin-top: 50px;
    padding-top: 15px;
    padding-bottom: 15px;
}
.title h1{
    line-height: 60px; 
    font-family: Arial;
    font-size:26px;
    color: #c97ce5;
    margin-left: 2.5%;
    display: inline-block;
    font-weight: 500;
}
.title{
    height: 60px;
    clear:right;
    border-radius: 3px;
   }
.right_icons{
    float: right;
    margin-top: 6px;
    margin-right: 10px;
    color: #858585;
    cursor: pointer;
}
.sd1{
    float: left;
    width: 50%;
}
.sd11{
    float: left;
    width: 65%; 
}
.sd12{
    float: right;
    width: 30%;
    margin-left: 5%; 
}
.sd1 h2{
    color: dimgray;
    font-family: Arial;
    font-size: 20px;
    height: auto;
    font-weight: bold;
}
.sd1 h5{
    font-size: 15px;
    font-family: Arial;
    color: #b3b3b3;
    height: auto;
}
.sd2{
    float:right;
    width: 50%;
}
.sd21{
    float: left;
    width: 30%; 
    margin-left: 20%;
}
.sd22{
    float: right;
    width: 20%; 
    margin-left: 30%;
}
.sd2 h2{
   color: dimgray;
   font-family: Arial;
   font-size: 20px;
   height: auto;
   font-weight: bold;
}
.sd2 h5{
  font-size: 15px;
  font-family: Arial;
  color: #b3b3b3;
  height: auto;
  margin: 0 auto;
}
h5{
  font-size: 17px;
  font-family: Arial;
  color: #b3b3b3;
  line-height: 22px;

}

.book_btn{
   width: 50%;
   height: 50px;
   border-radius: 3px;
   background: #c97ce5 ;
   border: 0px;
   font-size: 20px;
   color: #fff;
   font-family: Arial;
   
}

.sp_book_btn{
   width: 350px;
   height: 55px;
   border-radius: 3px;
   background: #c97ce5 ;
   border: 0px;
   font-size: 20px;
   color: #fff;
   font-family: Arial;
}

/* end of boxes section */

/* begin of modal section */

.modal-footer{
  display: none;
}

.modal-header{
  border: 0px;
}

#modal1 .modal-dialog{
  max-width: 1050px;
  margin-top: 11%;
  border: none;
}
#modal1 .modal-dialog h1{
  color: #c97ce5;
  font-size: 30px;
  font-family: Arial;
  font-weight: bold;
  text-align: center;
}
#modal1 .modal-dialog h2{
  color: #868686;
  text-align: center;
  font-size: 14px;
  font-family: Arial;
  font-weight: normal;
  margin-bottom: 80px;
}


.close_btn{
    width: 100%;
    height: 55px;
    float: left;
    border-radius: 3px;
    background: #DCDCDC;
    border: 0px;
    font-size: 20px;
    color: #fff;
    font-family: Arial;
}

.content_for_modal{
  margin-top: -20px;

}

/* BEGIN FIRST MODAL CONTENT */

.first_content{

  width: 68%;
  margin: 0 auto;
  padding-bottom: 30px;
}

.first_content input[type="text"]{
  height: 55px;
  border-radius: 5px;
  border: 1px solid #8A8A8A;
  width: 350px;
  max-width: 550px;
  padding-left: 15px;
}

.first_content table{

  width: 100%;
}

.first_content h5{
  color: #484848;
}


.space{
  width: 10px;
}

.spacev2{
  height: 25px;
}

/* END FIRST MODAL CONTENT */
/* BEGIN SECOND MODAL CONTENT */

.second_content{
  width: 68%;
  margin: 0 auto;
  padding-bottom: 30px;
  text-align: center;
}

.second_content table{
  width: 100%;
  margin: 0 auto;
  border: 1px solid #ff0000;
}

.second_content table th{
  width: 49%;
  padding-left: 10px;
  padding-right: 10px;
}

/* END SECOND MODAL CONTENT */
/* BEGIN THIRD MODAL CONTENT */

.third_content{
  width: 68%;
  margin: 0 auto;
  padding-bottom: 30px;
  text-align: center;
}

.third_content h4{
  font-size: 20px;
  color: #484848;
}

.third_content h1{
  font-size: 28px;
  padding-top: 60px;
}

.third_content h5{
  font-size: 20px;
  color: #484848;
  padding-top: 40px;
  padding-bottom: 100px;
}

.sent_img{
  padding-top: 40px;
}

.validation{
  margin-top: 15px;
  padding: 5px;
  color: #e52626;
  font-weight: normal;
}

  #empty_name {
    display: none;
    } 
  #empty_phone {
    display: none;
  }
 #empty_email {
    display: none;
 }

 #letters_phone {
    display: none;
  }