
.slide{
	text-align: center;
	margin-top:3em;
	line-height:1.2;
	margin-bottom: 3.2em;
  }
  
  .slide>p{
	display:inline-block;
	margin:0;
	padding:0 6em 0 6em;
	font-size:2em;
	font-weight: 100; 
  
  }
  .slide>h3{
	display:inline-block;
	margin:0;
	color:#d94ee4;
	font-weight:500;
	font-size: 1.8em;
  
  }
  .slide>h6{
	color:#8e8e8e;
	font-weight: 100;
	font-size:0.8em;
	display: inline-block;
	padding:0 18em 0 18em;
	margin:0;
  }
  