<app-page-header></app-page-header>
<div class="row">
  <div class="col-lg-11" style="left: 4%">
    <div class="dashboard_v2">
      <div class="section1">
        <div class="top">
            <div class="new_s"><h1>New service</h1></div>
        </div>
        <div class="service_box">
          <div class="title">
            <h1>Name of the service</h1>
            <img class="right_icons" src="../assets/trash2.png"> 
            <img class="right_icons" src="../assets/edit2.png">
          </div>
          <div class="section2"><br>
          <h5>Lorem ipsum dolor sit amet, consectetur adipiscing elit. Aenean nulla nisl, pretium in sagittis finibus, consectetur aliquet dolor. Maecenas non tincidunt urna. Proin eu magna eget purus dapibus convallis. Phasellus rutrum nibh et velit varius, a molestie diam lobortis. Quisque luctus leo quam, a fermentum tellus ullamcorper et. Quisque blandit imperdiet felis at fermentum. Vestibulum sit amet erat augue. Sed sed malesuada nibh. Nunc sollicitudin tristique diam et tempus. Sed sagittis vitae nisl quis vestibulum. </h5><br>  
          <div class="sd1">
            <div class="sd11">
              <h2>Mon - Fri, 08:00 - 16:00</h2>
              <h5>Availability</h5>
            </div>
            <div class="sd12">
              <h2>6 available</h2>
              <h5>Spaces</h5>
            </div>
          </div> 
          <div class="sd2">
            <div class="sd21">
              <h2>1 hour</h2>
              <h5>Duration</h5>
            </div>
            <div class="sd22">
              <h2>210 lei</h2>
              <h5>Price</h5>
            </div>
          </div>  
        </div>
      </div>
    </div>
   </div>
  </div>
</div>