<app-page-header></app-page-header>
<div class="bookings">
        <select class="mb-3">
            <option value="prima">prima</option>
            <option value="adoua">secund</option>
        </select>
         
       <!-- BOOKINGS -->
        <section class="panel">
            <div id="bookings">
                <table class="table" id="table">
    
                    <thead>
                      <tr>
                        <th>Name</th>
                        <th>Email</th>
                        <th>Phone No</th>
                        <th>Availability</th>
                      </tr>
                    </thead>
                    <tbody>
                      <tr v-for="todo in todos">
                        <td>Maria
                          <!-- {{todo.name}} -->
                        </td>
                        <td>
                            marnhhjgjhgfhfkghkjhgfmhgfia@assist.ro
                          <!-- {{todo.email}} -->
                        </td>
                        <td>
                           <!--{{todo.phone}} -->
                           0745984563
                        </td>
                        <td>
                          <!-- {{todo.availability}} -->
                          dfhfgjh
                        </td>
                      </tr>
                    </tbody>
    
                </table>
            </div>
        </section>
         <!-- /END BOOKINGS -->
      </div>