<app-page-header></app-page-header>
<div class="row">
  <div class="col-lg-11" style="left: 3%">
    <div class="add_service">
      <div class="section1">
          <div class="top">
              <form class="" action="Dashboard_v1">
                <br><h3 class="title">Add new service</h3>
                <input type="submit" value="+" class="add"><br>
                <h5 class="service">Add service</h5><br>
                <h5 class="details">SERVICE DETAILS</h5>
              </form>
          </div>
          <div class="left">
              <form action="">
                <h5 class="text">Service name</h5><br>
                <input type="text" class="tbox"><br>
                <h5 class="text">Service description</h5><br>
                <textarea class="tbox_mare" ></textarea>
              </form>
          </div>
          <div class="right">
            <form action="">
              <h5 class="text">Service duration</h5><br>
              <input type="text"  class="tbox"><br>
              <h5 class="text">Spaces</h5><br>
              <input type="text" name="spaces" value="" class="tbox"><br>
              <h5 class="text">Price</h5><br>
              <input type="value" name="price" value="" class="tbox"><br>
              </form>
          </div>
      </div>
      <div class="section1">
        <h5 class="details_availability">AVAILABILITY</h5>
        <table>
          <thead>
            <tr>
              <th></th>
              <th>
               <span class="short">MON</span>
              </th>
              <th>
                <span class="short">TUE</span>
              </th>
              <th>
                <span class="short">WED</span>
             </th>
              <th>
                <span class="short">THU</span>
              </th>
              <th>
                <span class="short">FRI</span>
              </th>
              <th>
                <span class="short">SAT</span>
              </th>
              <th>
                <span class="short">SUN</span>
              </th>
            </tr><br>
          </thead>
          <tbody>
            <tr>
              <td class="hour" rowspan="1"><span>7:00</span></td>
              <td><input type="checkbox" class="check"></td>
              <td><input type="checkbox" class="check"></td>
              <td><input type="checkbox" class="check"></td>
              <td><input type="checkbox" class="check"></td>
              <td><input type="checkbox" class="check"></td>
              <td><input type="checkbox" class="check"></td>
              <td><input type="checkbox" class="check"></td>
            </tr>
            <tr>
              <td class="hour" rowspan="1"><span>8:00</span></td>
              <td><input type="checkbox" class="check"></td>
              <td><input type="checkbox" class="check"></td>
              <td><input type="checkbox" class="check"></td>
              <td><input type="checkbox" class="check"></td>
              <td><input type="checkbox" class="check"></td>
              <td><input type="checkbox" class="check"></td>
              <td><input type="checkbox" class="check"></td>
            </tr>
            <tr>
              <td class="hour" rowspan="1"><span>9:00</span></td>
              <td><input type="checkbox" class="check"></td>
              <td><input type="checkbox" class="check"></td>
              <td><input type="checkbox" class="check"></td>
              <td><input type="checkbox" class="check"></td>
              <td><input type="checkbox" class="check"></td>
              <td><input type="checkbox" class="check"></td>
              <td><input type="checkbox" class="check"></td>
            </tr>
            <tr>
              <td class="hour" rowspan="1"><span>10:00</span></td>
              <td><input type="checkbox" class="check"></td>
              <td><input type="checkbox" class="check"></td>
              <td><input type="checkbox" class="check"></td>
              <td><input type="checkbox" class="check"></td>
              <td><input type="checkbox" class="check"></td>
              <td><input type="checkbox" class="check"></td>
              <td><input type="checkbox" class="check"></td>
            </tr>
            <tr>
              <td class="hour" rowspan="1"><span>11:00</span></td>
              <td><input type="checkbox" class="check"></td>
              <td><input type="checkbox" class="check"></td>
              <td><input type="checkbox" class="check"></td>
              <td><input type="checkbox" class="check"></td>
              <td><input type="checkbox" class="check"></td>
              <td><input type="checkbox" class="check"></td>
              <td><input type="checkbox" class="check"></td>
            </tr>
            <tr>
              <td class="hour" rowspan="1"><span>12:00</span></td>
              <td><input type="checkbox" class="check"></td>
              <td><input type="checkbox" class="check"></td>
              <td><input type="checkbox" class="check"></td>
              <td><input type="checkbox" class="check"></td>
              <td><input type="checkbox" class="check"></td>
              <td><input type="checkbox" class="check"></td>
              <td><input type="checkbox" class="check"></td>
            </tr>
            <tr>
              <td class="hour" rowspan="1"><span>13:00</span></td>
              <td><input type="checkbox" class="check"></td>
              <td><input type="checkbox" class="check"></td>
              <td><input type="checkbox" class="check"></td>
              <td><input type="checkbox" class="check"></td>
              <td><input type="checkbox" class="check"></td>
              <td><input type="checkbox" class="check"></td>
              <td><input type="checkbox" class="check"></td>
            </tr>
            <tr>
              <td class="hour" rowspan="1"><span>14:00</span></td>
              <td><input type="checkbox" class="check"></td>
              <td><input type="checkbox" class="check"></td>
              <td><input type="checkbox" class="check"></td>
              <td><input type="checkbox" class="check"></td>
              <td><input type="checkbox" class="check"></td>
              <td><input type="checkbox" class="check"></td>
              <td><input type="checkbox" class="check"></td>
            </tr>
            <tr>
              <td class="hour" rowspan="1"><span>15:00</span></td>
              <td><input type="checkbox" class="check"></td>
              <td><input type="checkbox" class="check"></td>
              <td><input type="checkbox" class="check"></td>
              <td><input type="checkbox" class="check"></td>
              <td><input type="checkbox" class="check"></td>
              <td><input type="checkbox" class="check"></td>
              <td><input type="checkbox" class="check"></td>
            </tr>
            <tr>
              <td class="hour" rowspan="1"><span>16:00</span></td>
              <td><input type="checkbox" class="check"></td>
              <td><input type="checkbox" class="check"></td>
              <td><input type="checkbox" class="check"></td>
              <td><input type="checkbox" class="check"></td>
              <td><input type="checkbox" class="check"></td>
              <td><input type="checkbox" class="check"></td>
              <td><input type="checkbox" class="check"></td>
            </tr>
            <tr>
              <td class="hour" rowspan="1"><span>17:00</span></td>
              <td><input type="checkbox" class="check"></td>
              <td><input type="checkbox" class="check"></td>
              <td><input type="checkbox" class="check"></td>
              <td><input type="checkbox" class="check"></td>
              <td><input type="checkbox" class="check"></td>
              <td><input type="checkbox" class="check"></td>
              <td><input type="checkbox" class="check"></td>
            </tr>
            <tr>
              <td class="hour" rowspan="1"><span>18:00</span></td>
              <td><input type="checkbox" class="check"></td>
              <td><input type="checkbox" class="check"></td>
              <td><input type="checkbox" class="check"></td>
              <td><input type="checkbox" class="check"></td>
              <td><input type="checkbox" class="check"></td>
              <td><input type="checkbox" class="check"></td>
              <td><input type="checkbox" class="check"></td>
            </tr>
          </tbody>
        </table>
      </div>
    </div>
  </div>
</div>