<div class="navigation">
	<nav class="navbar navbar-default nav-bar">
	 	<div>
	   	  <div class="navbar-header">
	        <img src="../assets/image.png" alt="Booking App"> 
	      </div>
	      <ul class="nav navbar-nav navbar-right ">
            <li><a routerLink="/dashboard"  > DASHBOARD </a></li>
            <li><a routerLink="/bookings" > BOOKINGS</a></li>
            <li><a routerLink="/calendar" > CALENDAR</a></li>
						<li><a routerLink="/account"  > PROFILE </a></li>
		    </ul>
	  </div>
	</nav>
</div>