.err-email-login { 
    position: absolute;
    left: 100%;
    top: 23%;
    height: 5%;
    width: 30%;
    background: transparent
}
.err-password-login { 
    position: absolute;
    left: 100%;
    top: 58%;
    width: 40%;
    height: 5%;
    background: transparent
}

.visiblePassLogin{
    position: absolute;
    left: 92%;
    top: 58%;
    cursor: pointer;  
}
.visiblePassCreate{
    position: absolute;
    left: 92%;
    top: 68%;
    cursor: pointer; 
}
.err-name-create{
    position: absolute;
    left: 100%;
    top: 18%;
    width: 40%;
    height: 5%;
    background: transparent
}
.err-email-recover{
    position: absolute;
    left: 100%;
    top: 37%;
    width: 40%;
    height: 5%;
    background: transparent;
    text-align: left;
}
.err-email-create{
    position: absolute;
    left: 100%;
    top: 43%;
    width: 40%;
    height: 5%;
    background: transparent;
    text-align: left;
}
.err-password-create{
    position: absolute;
    left: 100%;
    top: 68%;
    width: 88%;
    height: 5%;
    text-align: left;
    background: transparent;
}
.err-password-createlong{
    top: 66% !important ;
}
/* .errGlobal{
   position: absolute;
   width: 33%;
   top: -20%;
   background: transparent;
}
.labelInput{
    height: 0;
}
.visiblePass{
    position: absolute;
    left: 31%;
    top: 33%;
    cursor: pointer; 
}

.visiblePass1{
    position: absolute;
    left: 32%;
    top: 55%;
    cursor: pointer;  
}
.visiblePass2{
    position: absolute;
    left: 32%;
    top: 32%;
    cursor: pointer;
}
 .maindiv{
    background-color: #fff;
    background-repeat: no-repeat;
    background-position: center; 
    background-image: url('../../../../assets/bg_image.png'); 
    width: 100vw;
    height: 100vh;  
 }   
 .erre { 
    position: absolute;
    left: 35%;
    top: 40%;
    height: 5%;
    background: transparent
}
.errre { 
    position: absolute;
    left: 35%;
    top: 30%;
    height: 5%;
    width: 40%;
    background: transparent
}
.errelong{
    top: 25% !important ;
}
.errp { 
    position: absolute;
    left: 35%;
    top: 30%;
    width: 40%;
    height: 5%;
    background: transparent
}
.errrp { 
    position: absolute;
    left: 35%;
    top: 53%;
    width: 40%;
    height: 5%;
    background: transparent
}
.errrplong { 
    top: 49% !important  ;
}
.errcp { 
    position: absolute;
    left: 35%;
    top: 58%;
    width: 40%;
    height: 5%;
    background: transparent
}
.errcplong {
    top: 55% !important ;
}
.errf { 
    position: absolute;
    left: 35%;
    top: 5%;
    height: 5%;
    background: transparent
}
 .errs {
    position: absolute;
    left: 35%;
    top: 22%;
    height: 4%;
    background: transparent
}
input {
    display: block;
}
.sign-in {
	height: 24%;
	width: 10,4%;
	color: #F7F7F7;
	font-family: Roboto;
	font-size: 18px;
	font-weight: bold;
	line-height: 24px;
	text-align: center;
}
.sign-up {
    position: relative;
    left: 10%;
	height: 48%;
	width: 52%;
	color: #FFFFFF;
	font-family: Roboto;
	font-size: 16px;
	font-weight: bold;
	line-height: 24px;
    text-align: center;
}
.email-adress {
	height: 24%;
	width: 34%;
	color: black;
    font-family: Roboto;
	font-size: 18px;
	line-height: 24px;
}
.rectangle-2a {
    margin-bottom: 5px;
    height: 45px;
    width: 34%;
    border: 1px solid #AEB5BB;
    border-radius: 5px;
    background-color: #FFFFFF;
}
.rectangle-2b {
    height: 45%;
    width: 34%;
    border-radius: 5px;
    background-color: #006FFF;
    margin-top: 3%;
}
.login-to-your-accoun {
    position: relative;
   
    height: 9,6%;
    width: 55%;
    color: #F7F7F7;
    font-family: Roboto;
    font-size: 36px;
    line-height: 48px;
    text-align: center;
    left: 43%;
}
.welcome-back {
    left: 56%;
    position: relative;
    text-align: center;
	width: 22%;
	opacity: 0.5;
	color: white;
	font-family: Roboto;
	font-size: 20px;
	line-height: 26px;  
}
.checkbox{
    display: inline;
    top:20%;
    left: 5%;
}
.welcome-back2 {
    left: 55%;
    position: relative;
    text-align: center;
	width: 30%;
	opacity: 0.5;
	color: white;
	font-family: Roboto;
	font-size: 20px;
    line-height: 26px;  
    top: 20px;
}
.ReserIt{
    cursor: pointer;
}

.don-t-have-an-accoun {
	height: 4,8%;
    width: 2,5%;
    margin-right: 0,2%;
	color: #F7F7F7;
	font-family: Roboto;
	font-size: 16px;
	line-height: 2,4%;
	text-align: center;
}
.form-position{
    position: absolute;
    top: 42%;
    left: 55%;
}
.info-position {
    position: absolute;
    left: 2.2%;
    top: 45%;  
 }
 .footer-position {
    position: absolute;
    top:865px;
    left: 690px;
 }
.posb {
    position: relative;
    top: 36,1%;
    left: 95%;
}
.inline
{
    display: inline;
}
.show {
    display: block;
}
.hide {
    display: none;
}
.rectangle {
    height: 33px;
    width: 98px;
    border-radius: 5px;
    background-color: #006FFF;
}
.footer{
    top: 1000px;
    left: 690px;;
}
.btn-reset{
    height: 45px;
    width: 300px;
    position: relative;
    left: 830px;
    top: 380px;
    opacity: 100%;
    background-color: #0066ff;
    text-transform: uppercase;
    font-weight: bold;
    border: none;
}
.terms-conditions{
    position: relative;
    height: 16px;
    width: 230px;
    left: 905px;
    top: 554px;
    color: #F7F7F7;
    font-family: Roboto;
    font-size: 14px;
    line-height: 16px;
}
.check{
    position: relative;
    height: 19px;
    width: 19px;
    left: 880px;
    top: 425px;
    border-radius: 5px;
    background-color: #FFFFFF;
    }
.email{
    position: relative;
    height: 45px;
    width: 300px; 
    left: 950px;
    top: 545px;
} */
/* ////////// */
/*intrebarea*/
a.recover-password-txt{
    font-size: 20px;
    margin-top: 53px;
    color: black;
    cursor: pointer;
    position: absolute;
    top: 77%;
    left: 30%;
}
a.register-txt{
    font-size: 20px;
    margin-top: 53px;
    color: black;
    cursor: pointer;
    position: absolute;
    top: 86%;
    left: 40%;
}
a.account-txt{
    font-size: 20px;
    margin-top: 53px;
    color: black;
    cursor: pointer;
    position: absolute;
    top: 83%;
    left: 20%;
}
.tbox{
    font-family: 'Open Sans', sans-serif;
    width: 400px;
    height: 50px;
    border-radius: 3px;
    border: 1px solid #B3B3B3;
    font-size: 25px;
    text-align: left;
}
/* .aliniere{
   
    text-align-last: center ;
} */
.book_btn{
    text-decoration:none;
    font-size: 20px;
    width: 405px;
    height: 50px;
    vertical-align: middle;
    background-color: #c97ce5;
    color: white;
    border: none;
    border-radius: 3px;
    margin-top: 53px;
}
/* nume email si pass*/
.date{
    font-size:20px;
    margin-top: 25px;
    margin-bottom: 3px;
    text-align: left;
    height: 30px;
}
/*box*/

/*divul mare*/
.div{
    font-family: 'Open Sans', sans-serif;
    width: 405px;
    /* margin: 0 auto; */
    position: absolute;
    left: 38%;
    top: 48%;
}
.book_img{
    height:270px;
    width:500px;
    /* margin: 0 auto; */
    /* margin-top: 60px; */
    position: absolute;
    left: 35%;
    top: 10%;


}
.submit_button {
    cursor: pointer;
}
.display_eye{
    display: flex;
  }
.content{
    padding-top: 290px;
}