
<app-page-header></app-page-header>
<div>
     <section class="section">
       <form >
          <div class="logo">
            <img src="../assets/company_logo.png"/>
            <input type="file" class="choosefile submit_button"/>
          </div>

          <div class="profile"> 
                 <label class="date">Company name</label>
                 <input type="text" class="tbox"/><br><br>
                 <div class="company_description">
                 <label class="date">Company description</label>
                 <textarea></textarea >
                 </div>
                 <div class="buttons">
                    <button class="book_btn btn btn-secondary" style="float:left" >Sign out</button>
                    <div class="form-group" >
                    <button type="submit"  style="float: right"   class="book_btn" >Save</button> 
                    </div>
                </div>
          </div> 
      </form>
    </section>
  </div>